$sidebar-bg-color: #1d3557;
$sidebar-color: #ffb703 !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #FB8500 !default;
$submenu-bg-color: #003566 !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: none ;
$icon-size: 55px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
@import '~react-pro-sidebar/dist/scss/styles.scss';
